@font-face 
	font-family: 'Cabin'
	src: url('/fonts/Cabin/Cabin-Regular.ttf')
	font-weight: 400
	font-display: swap

@font-face 
	font-family: 'Cabin'
	src: url('/fonts/Cabin/Cabin-Medium.ttf')
	font-weight: 500
	font-display: swap

@font-face 
	font-family: 'Cabin'
	src: url('/fonts/Cabin/Cabin-Bold.ttf')
	font-weight: 800
	font-display: swap
